<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-UIAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9610812D1C2D5E3C00EDF33C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961081411C2D5E3C00EDF33C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9610814C1C2D5E3D00EDF33C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
